/* @font-face {
  font-family: 'Akkurat Std';
  src: url('./fonts/AkkuratStd-Regular.woff2') format('woff2'),
       url('./fonts/AkkuratStd-Regular.woff') format('woff'),
       url('./fonts/AkkuratStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

p {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
}

iframe {
  width: 100%;
  height: 120px; /* Adjust height as needed */
  border: none;
  margin: 20px 0;
  border-radius: 8px;
}

div {
  text-align: center;
}

a {
  display: inline-block;
  margin-top: 10px;
  color: #0687f5;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
